Repository getsops/sops, pull requests merged in 2023-09, with the labels that each got.

#1275 chore: update dependencies
  go.mod
  go.sum
Labels: dependencies

#1276 build: pin actions to full length commit SHA and add CodeQL
  .github/workflows/cli.yml
  .github/workflows/codeql.yml
Labels: area/CI

#1277 Enable Dependabot for Docker, GitHub Actions and Go Mod
  .github/dependabot.yaml
Labels: area/CI

#1282 pgp: remove `DisableAgent` option
  pgp/keysource.go
  pgp/keysource_test.go
Labels: area/keyservice, keyservice/pgp

#1281 keyservices: address logging regression
  age/keysource.go
  azkv/keysource.go
  gcpkms/keysource.go
  hcvault/keysource.go
  kms/keysource.go
  pgp/keysource.go
Labels: bug, area/keyservice

#1283 chore: update dependencies
  go.mod
  go.sum
Labels: dependencies

#1298 pgp: improve handling of GnuPG home dir
  pgp/keysource.go
  pgp/keysource_test.go
Labels: bug, area/keyservice, keyservice/pgp

#1289 Improve handling of errors when binary store handles bad data
  cmd/sops/decrypt.go
  stores/json/store.go
  stores/json/store_test.go
Labels: bug, stores/json, area/CLI

#1307 Handle return values of dec.Token() to improve error messages
  stores/json/store.go
  stores/json/store_test.go
Labels: stores/json, area/stores

#1310 pgp: make error the last return value
  pgp/keysource.go
  pgp/keysource_test.go
Labels: area/keyservice, keyservice/pgp

#1309 pgp: do not require abs path for SopsGpgExecEnv
  pgp/keysource.go
  pgp/keysource_test.go
Labels: bug, area/keyservice, keyservice/pgp
