Repository getsops/sops, pull requests merged in 2025-02, with the labels that each got.

#1601 Add --input-type option for filestatus subcommand
  cmd/sops/main.go
Labels: enhancement, area/CLI

#1611 Use SOPS_EDITOR before EDITOR
  README.rst
  cmd/sops/edit.go
  cmd/sops/main.go
Labels: enhancement, area/CLI

#1452 add duplicate section support to ini store
  stores/ini/store.go
  stores/ini/store_test.go
Labels: enhancement, stores/ini, area/stores

#1203 stores: test for duplicate keys, reserve keyword (yaml only now)
  stores/json/store_test.go
  stores/yaml/store.go
  stores/yaml/store_test.go
Labels: enhancement, stores/yaml, area/stores

#1476 outputs: add trailing newline at the end of JSON files
  functional-tests/src/lib.rs
  stores/json/store.go
  stores/json/store_test.go
Labels: enhancement, stores/json, area/stores

#1692 Add SSH support for age
  README.rst
  age/keysource.go
  age/keysource_test.go
  age/ssh_parse.go
  age/tui.go
  go.mod
Labels: enhancement, area/keyservice, keyservice/age

#1400 support for age identity with passphrase
  age/encrypted_keys.go
  age/keysource.go
  age/keysource_test.go
  age/tui.go
Labels: enhancement, area/keyservice, keyservice/age

#1641 feat: add age plugin support
  age/encrypted_keys.go
  age/keysource.go
  age/tui.go
Labels: area/keyservice, keyservice/age
