Repository getsops/sops, pull requests merged in 2025-03, with the labels that each got.

#1690 Allow to encrypt and decrypt from stdin
  README.rst
  cmd/sops/common/common.go
  cmd/sops/decrypt.go
  cmd/sops/encrypt.go
  cmd/sops/main.go
  functional-tests/src/lib.rs
Labels: enhancement, area/CLI

#1701 Add a way to set sops config location via envvar
  cmd/sops/main.go
Labels: enhancement, area/CLI

#1571 chore: omitempty metadata to reduce the size of stored config
  stores/stores.go
Labels: enhancement, area/stores

#1578 Support `GOOGLE_OAUTH_ACCESS_TOKEN` for Google Cloud Platform
  README.rst
  gcpkms/keysource.go
  gcpkms/keysource_test.go
Labels: enhancement, keyservice/gcpkms, area/keyservice
